<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ubicomplab.org.predictivecalendar"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="ubicomplab.org.predictivecalendar.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="ubicomplab.org.predictivecalendar.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <application
        android:name=".Globals"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name=".MapActivity"
            android:label="@string/app_name" >
            <intent-filter>

                <!--
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                -->
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" >
        </meta-data>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBJmxugJ_430SV9qB5y_FxGLbHeyBvOsJQ" />

        <activity
            android:name=".CardsActivity"
            android:label="@string/title_activity_cards" >
        </activity>
        <activity
            android:name=".CardActivity"
            android:label="@string/title_activity_card" >
        </activity>
        <activity
            android:name=".CalendarActivity"
            android:label="@string/title_activity_calendar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PredictionActivity"
            android:label="@string/title_activity_prediction" >
        </activity>
        <activity
            android:name=".RouteActivity"
            android:label="@string/title_activity_route"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="ubicomplab.org.predictivecalendar.ROUTE_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <!-- Points to searchable activity -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".RouteActivity" />

            <!-- Points to searchable meta data -->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <provider
            android:name=".PlaceProvider"
            android:authorities="ubicomplab.org.predictivecalendar.PlaceProvider"
            android:exported="false" />

        <receiver android:name=".pro" >
            <intent-filter>
                <action android:name="ubicomplab.org.predictivecalendar" >
                </action>
            </intent-filter>
        </receiver>

        <activity
            android:name=".Search"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_search_activity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".SearchInMap"
            android:label="@string/title_activity_search_in_map" >
        </activity>

        <receiver
            android:name=".BootUpReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".SampleService"
            android:enabled="true" />
    </application>

</manifest>